*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

a{
    text-decoration: none;
    color: white;
}
.header{
    position: relative;
    min-height: 60vh;
    background: url('./pexels-elijah-o\'donnell-3473569.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.container{
    max-width: 1200px;
    margin: auto;
    width: 90%;
}

.nav{
    min-height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items{
    width: 40%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.headline{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn{
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;
}

/* 1rem = 16px;
2rem = 32px; */

.btn-headline{
    padding: 1rem 2rem;    
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: 600;
}

.todo-section{
    margin-top: 5rem;
    text-align: center;
}

.bg-dark{
    background: #000;
    color: #eee;
}

.todo-list{
    text-align: left;
    font-size: 1.2rem;
    list-style-type: none;
}

.todo-list li{
    padding: 0.7rem;
    background: #444;
    color: cyan;
    margin-top: 1rem;
    text-transform: capitalize;
}

.form-todo{
     /* border: 2px solid red; */
     margin-top: 1rem;
     min-height: 8vh;
     display: flex;
     justify-content: space-between;
}

.form-todo input{
    min-height: 100%;
}

.form-todo input[type='text']{
    width : 78%;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 400;
}

.form-todo input[type='submit']{
    width : 20%;
    background-color: rgb(44,55,63);
    color: white;
    font-weight: bold;
}

.section-signup{
    margin-top: 5rem;
    text-align: center;
    background: rgb(240,240,240);
    border-radius: 10px;
    padding: 1rem;
}

.signup-form{
    max-width: 800px;
    width: 95%;
    margin: auto;
    text-align: left;
}

.signup-form label{
    display: block;
   
}

.signup-form input{
    display: block;
    width: 100%;
    padding: 0.5rem;
}

.form-group{
    margin-top: 1rem;
}

.signup-form textarea{
    width: 100%;
}

.signup-btn{
    background-color: rgb(44,55,63);
    color: white;
    padding: 1rem 2rem;
    display: block;
    margin: auto;
    margin-top: 1rem;
}





